---
import Section from "../Section.astro"
import Star from "@/icons/star.astro"
import { volunteer } from "@cv"
---

<Section title="Otras Experiencias">
  <ul>
    {
      volunteer.map(
        ({ organization, startDate, endDate, position, summary, highlights, url }) => {
          const startYear = new Date(startDate).getFullYear()
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Actual"
          const years = startYear !== endYear ? `${startYear} - ${endYear}` : startYear

          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>
                      <a href={url} title={`Ver ${organization}`} target="_blank">
                        {organization}
                      </a>
                    </h3>
                    <h4>{position}</h4>
                  </div>

                  <time>{years}</time>
                </header>

                <footer>
                  <p>{summary}</p>
                  <small>
                    {
                      highlights[0].length > 0 && <Star/>                    }
                    {highlights}
                  </small>
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    color: #222;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  footer span{
    
  }

  time {
    text-align: end;
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
